* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Julius Sans One', sans-serif;

}


.home,
.games,
.profile,
.these {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.games {
  background-image: url('images/Lily-bg.JPG');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 70px;
  text-decoration: none;
}

.games > i {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.profile {
  background: #242424;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}